<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>
      Mi nombre es Jasiel Becerra soy Ingeniero en Tecnologías de la información y comunicación.
      Me desempeño en diversas áreas de informática como lo es la administración de redes & servidores, soporte técnico, y estoy empezando aprender nuevas tecnologías para orquestar contenedores y micro servicios. También desarrollo contenido web, tengo experiencia en diseño gráfico, creación de sitios web y tiendas online para pequeñas y medianas empresas. Me aseguro de utilizar siempre las últimas tecnologías de desarrollo web:
      Html5, Css3, Jquery, Javascript, Ajax, Bootstrap, Angular,Php.
    </p>
</article>