<div class="container">
<!--aqui mostraremos la anchura que estamos recibiendo desde el input del componente padre al hijo-->
Tamaño del slider<strong>{{anchura}}</strong>
Captions<strong>{{etiquetas}}</strong>

    <!--slider-->     
    <div class="bxslider">  
      <div><img src="assets/css/img/angular.jpg" title="Angular"></div>            
      <div><img src="assets/css/img/jch2.jpg" title="Desarrollo Web"></div>
      <div><img src="assets/css/img/jq.png" title="Jquery"></div>
      <div><img src="assets/css/img/node2.jpg" title="Nodejs"></div>           
      <div><img src="assets/css/img/jch.png" title="Diseño Web"></div>
    </div>
    <br>
    <button (click)="lanzar()">Conseguir Autor</button>
</div>
