<header>
<ul>
  <li><a [routerLink]="[ '/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mí</a></li>
  <li><a [routerLink]="[ '/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li id="logo"><a href="#">JB</a></li>
  <li><a [routerLink]="[ '/crear-proyectos']" [routerLinkActive]="['actived']">Crear Proyectos</a></li>
  <li><a [routerLink]="[ '/contacto']" [routerLinkActive]="['actived']">Contactos</a></li>
</ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portafolio de Proyectos de Jasiel Becerra &copy;
</footer>
